body,html{
    margin: 0;
    height: 100%;
    width: 100%;
}
.top,.footer{
    background-color: #1f2937;
}

.footer{
    color: #f9faf8;
    text-align: center;
    padding: 20px 0px;
}

.top{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 24px;
    color: #f9faf8;
}

a:link,a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.links{
    display: flex;
    gap: 20px;
}

.headerass{
    display: flex;
    justify-content: center;
    color: #f9faf8;
}

.leftofimg div{
    font-size: 48px;
    font-weight: bolder;
}

.leftofimg p,a,.images p,.quote p,.snatcher #acttext{
    opacity: 0.8;
}

.leftofimg,img{
    flex: 1;
}

img{
    height: 250px;
    line-height:  250px;
    text-align: center;
    background-color: #3a4b63;
}

button{
    background-color: #3882f6;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 6px;
    color: #f9faf8;
    border: none;
}

#h2{
    font-weight: bold;
    font-size: 36px;
    color: #1f2937;
}

.formgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 70px 70px 70px;
}

.images{
    display: flex;
    text-align: center;
    gap: 10px;
    margin-top: 30px;
}

.images img{
    width: 180px;
    height: 180px;
    border-radius: 8px;
    background-color: white;
    border: 3px solid #3882f6;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 70px;
}

.quote p{
    font-style: italic;
}

.quote div{
    font-weight: bold;
    align-self: flex-end;
}

#b2{
    border: 2px solid white;
}

.snatcher{
    display: flex;
    color: #f9faf8;
    background-color: #3882f6;
    margin: 45px 55px;
    border-radius: 7px;
    padding: 30px 55px;
    justify-content: space-between;
}

.snatcher #action{
    font-weight: bold;
}